## This is to get the PTID image list of MCI or CN, which are amyloid-beta-positive. For the series image of a person, we choose the one which is near the date of get baseline CSF.

In [1]:
import numpy as np
import pandas as pd
import os
import math

In [2]:
os.environ['CONDA_DEFAULT_ENV']

'spm'

In [3]:
ls

README.md                        makeSpecificPeopleCSV.ipynb
aimedSubFolderNameListMake.sh    merge_folder.ipynb
dicomToNii.ipynb                 nohup.out
extractVolumesForSubtypes.ipynb  uploadNiiToBrainIo.sh

In [5]:
csvPath = "/home/ubuntu/Desktop/ADNI_MRI_Image/csvFiles"

In [6]:
# MM1_data = pd.read_csv(os.path.join(csvPath,'MM1.csv'))
# CM1_data = pd.read_csv(os.path.join(csvPath,'CM1.csv'))
AM1_data = pd.read_csv(os.path)
ADNIMERGE = pd.read_csv(os.path.join(csvPath,'ADNIMERGE.csv'))

/home/ubuntu/anaconda3/envs/spm/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (18,19,20,103,104) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [78]:
MM1_data

,Image Data ID,Subject,Group,Sex,Age,Visit,Modality,Description,Type,Acq Date,Format,Downloaded
0,377615,128_S_4571,EMCI,M,62,28,MRI,LOC,Original,6/19/2013,DCM,2/01/2020
1,1142242,114_S_4404,EMCI,F,90,102,MRI,Accelerated Sagittal MPRAGE,Original,3/11/2019,DCM,2/01/2020
2,295490,072_S_4613,EMCI,M,68,22,MRI,MPRAGE GRAPPA2,Original,4/02/2012,DCM,2/01/2020
3,334712,109_S_4380,EMCI,M,73,25,MRI,3 Plane Localizer,Original,8/07/2012,DCM,2/01/2020
4,341130,130_S_2403,EMCI,F,80,26,MRI,3 Plane Localizer,Original,10/18/2012,DCM,2/01/2020
...,...,...,...,...,...,...,...,...,...,...,...,...
18326,102916,023_S_0388,MCI,M,73,6,MRI,B1-calibration Head,Original,4/16/2008,DCM,2/07/2020
18327,128634,031_S_1066,MCI,M,75,6,MRI,Localizer,Original,11/25/2008,DCM,2/07/2020
18328,29285,002_S_0954,MCI,F,70,2,MRI,MPRAGE,Original,11/08/2006,DCM,2/09/2020
18329,60247,128_S_1148,MCI,F,70,3,MRI,Localizer,Original,7/16/2007,DCM,2/09/2020
18330,87863,128_S_1148,MCI,F,71,4,MRI,localizer,Original,1/17/2008,DCM,2/07/2020

In [7]:
CM1_data

,Image Data ID,Subject,Group,Sex,Age,Visit,Modality,Description,Type,Acq Date,Format,Downloaded
0,1048378,941_S_6581,CN,F,74,1,MRI,Accelerated Sagittal MPRAGE,Original,9/12/2018,DCM,2/26/2020
1,1048384,941_S_6581,CN,F,74,1,MRI,Field Mapping,Original,9/12/2018,DCM,2/26/2020
2,1048387,941_S_6581,CN,F,74,1,MRI,3 Plane Localizer,Original,9/12/2018,DCM,2/26/2020
3,1048388,941_S_6581,CN,F,74,1,MRI,3 Plane Localizer,Original,9/12/2018,DCM,2/26/2020
4,1048389,941_S_6581,CN,F,74,1,MRI,3 Plane Localizer,Original,9/12/2018,DCM,2/26/2020
...,...,...,...,...,...,...,...,...,...,...,...,...
10500,238626,002_S_0295,CN,M,90,26,MRI,3 Plane Localizer,Original,6/02/2011,DCM,2/26/2020
10501,238627,002_S_0295,CN,M,90,26,MRI,MPRAGE,Original,6/02/2011,DCM,2/26/2020
10502,303066,002_S_0295,CN,M,91,28,MRI,MPRAGE,Original,5/10/2012,DCM,2/26/2020
10503,238628,002_S_0295,CN,M,90,26,MRI,MPRAGE SENSE2,Original,6/02/2011,DCM,2/26/2020
10504,303067,002_S_0295,CN,M,91,28,MRI,MPRAGE SENSE2,Original,5/10/2012,DCM,2/26/2020

In [83]:
ADNIMERGE

,RID,PTID,VISCODE,SITE,COLPROT,ORIGPROT,EXAMDATE,DX_bl,AGE,PTGENDER,...,TAU_bl,PTAU_bl,FDG_bl,PIB_bl,AV45_bl,Years_bl,Month_bl,Month,M,update_stamp
0,2,011_S_0002,bl,11,ADNI1,ADNI1,2005-09-08,CN,74.3,Male,...,NaN,NaN,1.36665,NaN,NaN,0.000000,0.00000,0,0.0,2020-01-09 04:20:17.0
1,3,011_S_0003,bl,11,ADNI1,ADNI1,2005-09-12,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,0.000000,0.00000,0,0.0,2020-01-09 04:20:17.0
2,3,011_S_0003,m06,11,ADNI1,ADNI1,2006-03-13,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,0.498289,5.96721,6,6.0,2020-01-09 04:20:17.0
3,3,011_S_0003,m12,11,ADNI1,ADNI1,2006-09-12,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,0.999316,11.96720,12,12.0,2020-01-09 04:20:17.0
4,3,011_S_0003,m24,11,ADNI1,ADNI1,2007-09-12,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,1.998630,23.93440,24,24.0,2020-01-09 04:20:17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14599,4176,033_S_4176,m96,33,ADNI3,ADNI2,2020-02-03,CN,84.0,Male,...,468.8,46.98,1.30432,NaN,1.22024,8.407940,100.68900,102,96.0,2020-02-06 04:20:30.0
14600,4631,137_S_4631,m96,137,ADNI3,ADNI2,2020-01-30,LMCI,69.5,Male,...,282.4,30.41,1.40810,NaN,1.43870,7.635870,91.44260,90,96.0,2020-02-07 04:20:29.0
14601,6652,002_S_6652,m12,2,ADNI3,ADNI3,2020-02-06,EMCI,86.4,Female,...,NaN,NaN,1.34365,NaN,1.06476,1.078710,12.91800,12,12.0,2020-02-08 04:20:39.0
14602,6524,114_S_6524,m12,114,ADNI3,ADNI3,2020-02-07,CN,66.4,Female,...,NaN,NaN,NaN,NaN,NaN,1.138950,13.63930,12,12.0,2020-02-08 04:20:38.0
14603,6653,341_S_6653,m12,341,ADNI3,ADNI3,2020-02-05,SMC,68.1,Male,...,NaN,NaN,1.30021,NaN,NaN,1.073240,12.85250,12,12.0,2020-02-08 04:20:39.0

### This part is for MCI data

In [92]:
## dataframe to keep the results
MCI_amyloid_pos = pd.DataFrame(columns=['PTID','EXAMDATE','ABETA_bl','AV45'])

sub_in_MM1 = list(set(list(MM1_data['Subject'])))

port = ['ADNI2','ADNI3','ADNIGO']

for ADNIindex, ADNIrow in ADNIMERGE.iterrows():
    if ADNIrow['PTID'] in sub_in_MM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['ABETA_bl'] != '>1700' and np.float(ADNIrow['ABETA_bl']) < 1100 and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE'],ADNIrow['ABETA_bl'],ADNIrow['AV45']]],columns=['PTID','EXAMDATE','ABETA_bl','AV45'])
        MCI_amyloid_pos = MCI_amyloid_pos.append(tempDataframe)
    if ADNIrow['PTID'] in sub_in_MM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['ABETA_bl'] != '>1700' and math.isnan(np.float(ADNIrow['ABETA_bl'])) and np.float(ADNIrow['AV45']) > 1.11 and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE'],ADNIrow['ABETA_bl'],ADNIrow['AV45']]],columns=['PTID','EXAMDATE','ABETA_bl','AV45'])
        MCI_amyloid_pos = MCI_amyloid_pos.append(tempDataframe)

In [97]:
MCI_amyloid_pos.to_csv('MCI_amyloid_pos.csv',index=False)

In [96]:
MCI_amyloid_pos

          PTID    EXAMDATE ABETA_bl     AV45
0   128_S_2003  2010-07-23      NaN  1.16466
0   031_S_2022  2010-08-05    929.2  1.31359
0   072_S_2037  2010-08-24      NaN  1.43899
0   099_S_2042  2010-08-25    827.6  1.06558
0   002_S_2043  2010-09-07      NaN  1.20402
..         ...         ...      ...      ...
0   099_S_6632  2019-01-17      NaN  1.18938
0   168_S_6634  2019-02-21      NaN  1.60110
0   023_S_6702  2019-04-26      NaN  1.20806
0   051_S_6719  2019-05-15      NaN  1.23803
0   041_S_6731  2019-06-10      NaN  1.34515

[307 rows x 4 columns]

In [10]:
## This is for all MCI MRI data, no matter amyloid positive or amyloid negative
MCI_all = pd.DataFrame(columns=['PTID','EXAMDATE'])

sub_in_MM1 = list(set(list(MM1_data['Subject'])))

port = ['ADNI2','ADNI3','ADNIGO']

for ADNIindex, ADNIrow in ADNIMERGE.iterrows():
    if ADNIrow['PTID'] in sub_in_MM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE']]],columns=['PTID','EXAMDATE'])
        MCI_all = MCI_all.append(tempDataframe)

In [11]:
MCI_all

          PTID    EXAMDATE
0   128_S_2002  2010-06-16
0   128_S_2003  2010-07-23
0   031_S_2022  2010-08-05
0   072_S_2037  2010-08-24
0   099_S_2042  2010-08-25
..         ...         ...
0   137_S_6693  2019-12-16
0   052_S_6832  2020-01-09
0   052_S_6844  2020-01-13
0   024_S_6846  2020-01-23
0   022_S_6847  2020-02-10

[628 rows x 2 columns]

In [12]:
MCI_all.to_csv(os.path.join(csvPath,'MCI_all.csv'),index=False)

### This part is for CN data

In [8]:
## dataframe to keep the results
CN_amyloid_pos = pd.DataFrame(columns=['PTID','EXAMDATE','ABETA_bl','AV45'])

In [9]:
sub_in_CM1 = list(set(list(CM1_data['Subject'])))

In [10]:
port = ['ADNI2','ADNI3','ADNIGO']

In [12]:
for ADNIindex, ADNIrow in ADNIMERGE.iterrows():
    if ADNIrow['PTID'] in sub_in_CM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['ABETA_bl'] != '>1700' and np.float(ADNIrow['ABETA_bl']) < 1100 and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE'],ADNIrow['ABETA_bl'],ADNIrow['AV45']]],columns=['PTID','EXAMDATE','ABETA_bl','AV45'])
        CN_amyloid_pos = CN_amyloid_pos.append(tempDataframe)
    if ADNIrow['PTID'] in sub_in_CM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['ABETA_bl'] != '>1700' and math.isnan(np.float(ADNIrow['ABETA_bl'])) and np.float(ADNIrow['AV45']) > 1.11 and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE'],ADNIrow['ABETA_bl'],ADNIrow['AV45']]],columns=['PTID','EXAMDATE','ABETA_bl','AV45'])
        CN_amyloid_pos = CN_amyloid_pos.append(tempDataframe)

In [16]:
CN_amyloid_pos.to_csv(os.path.join(csvPath,'CN_amyloid_pos.csv'),index=False)

In [15]:
CN_amyloid_pos

          PTID    EXAMDATE ABETA_bl      AV45
0   016_S_4951  2012-11-19     1024  1.039290
0   070_S_4856  2012-08-03    975.8  0.937777
0   116_S_4855  2012-08-07    732.8  1.213200
0   127_S_4843  2012-08-06      NaN  1.187480
0   019_S_4835  2012-07-24    728.6  1.099920
..         ...         ...      ...       ...
0   003_S_6307  2018-08-13      NaN  1.190080
0   035_S_6551  2018-08-23      NaN  1.701010
0   168_S_6492  2018-08-30      NaN  1.296410
0   003_S_6644  2019-01-30      NaN  1.248110
0   032_S_6699  2019-07-10      NaN  1.156050

[109 rows x 4 columns]

## This part is for AD data

In [10]:
## This is for all MCI MRI data, no matter amyloid positive or amyloid negative
MCI_all = pd.DataFrame(columns=['PTID','EXAMDATE'])

sub_in_MM1 = list(set(list(MM1_data['Subject'])))

port = ['ADNI2','ADNI3','ADNIGO']

for ADNIindex, ADNIrow in ADNIMERGE.iterrows():
    if ADNIrow['PTID'] in sub_in_MM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE']]],columns=['PTID','EXAMDATE'])
        MCI_all = MCI_all.append(tempDataframe)

In [11]:
MCI_all

          PTID    EXAMDATE
0   128_S_2002  2010-06-16
0   128_S_2003  2010-07-23
0   031_S_2022  2010-08-05
0   072_S_2037  2010-08-24
0   099_S_2042  2010-08-25
..         ...         ...
0   137_S_6693  2019-12-16
0   052_S_6832  2020-01-09
0   052_S_6844  2020-01-13
0   024_S_6846  2020-01-23
0   022_S_6847  2020-02-10

[628 rows x 2 columns]

In [93]:
math.isnan((ADNIMERGE['ABETA_bl'][100]))

True

In [39]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[7, 8]], columns = ['a','b'])

df = df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  7  8