## This is to get the PTID image list of MCI or CN, which are amyloid-beta-positive. For the series image of a person, we choose the one which is near the date of get baseline CSF.

In [13]:
import numpy as np
import pandas as pd
import os
import math

In [14]:
os.environ['CONDA_DEFAULT_ENV']

'spm'

In [15]:
ls

README.md                          extractVolumesForSubtypes.ipynb
aimedSubFolderNameListMake.sh      makeSpecificPeopleCSV.ipynb
atrophyModelBuild.ipynb            merge_folder.ipynb
convertFreesurferOutput2CSV.ipynb  nohup.out
csvFiles/                          updateTags.sh
dicomToNii.ipynb                   uploadNiiToBrainIo.ipynb
downloadFreesurferOutput.sh        uploadNiiToBrainIo.sh

In [16]:
csvPath = "/home/ubuntu/Desktop/ADNI_MRI_Image/neuroScript/csvFiles"

In [18]:
MM1_data = pd.read_csv(os.path.join(csvPath,'MM1.csv'))
CM1_data = pd.read_csv(os.path.join(csvPath,'CM1.csv'))
AM1_data = pd.read_csv(os.path.join(csvPath,'AM1.csv'))
ADNIMERGE = pd.read_csv(os.path.join(csvPath,'ADNIMERGE.csv'))

In [19]:
MM1_data

,Image Data ID,Subject,Group,Sex,Age,Visit,Modality,Description,Type,Acq Date,Format,Downloaded
0,377615,128_S_4571,EMCI,M,62,28,MRI,LOC,Original,6/19/2013,DCM,2/01/2020
1,1142242,114_S_4404,EMCI,F,90,102,MRI,Accelerated Sagittal MPRAGE,Original,3/11/2019,DCM,2/01/2020
2,295490,072_S_4613,EMCI,M,68,22,MRI,MPRAGE GRAPPA2,Original,4/02/2012,DCM,2/01/2020
3,334712,109_S_4380,EMCI,M,73,25,MRI,3 Plane Localizer,Original,8/07/2012,DCM,2/01/2020
4,341130,130_S_2403,EMCI,F,80,26,MRI,3 Plane Localizer,Original,10/18/2012,DCM,2/01/2020
...,...,...,...,...,...,...,...,...,...,...,...,...
18326,102916,023_S_0388,MCI,M,73,6,MRI,B1-calibration Head,Original,4/16/2008,DCM,2/07/2020
18327,128634,031_S_1066,MCI,M,75,6,MRI,Localizer,Original,11/25/2008,DCM,2/07/2020
18328,29285,002_S_0954,MCI,F,70,2,MRI,MPRAGE,Original,11/08/2006,DCM,2/09/2020
18329,60247,128_S_1148,MCI,F,70,3,MRI,Localizer,Original,7/16/2007,DCM,2/09/2020
18330,87863,128_S_1148,MCI,F,71,4,MRI,localizer,Original,1/17/2008,DCM,2/07/2020

In [7]:
CM1_data

,Image Data ID,Subject,Group,Sex,Age,Visit,Modality,Description,Type,Acq Date,Format,Downloaded
0,1048378,941_S_6581,CN,F,74,1,MRI,Accelerated Sagittal MPRAGE,Original,9/12/2018,DCM,2/26/2020
1,1048384,941_S_6581,CN,F,74,1,MRI,Field Mapping,Original,9/12/2018,DCM,2/26/2020
2,1048387,941_S_6581,CN,F,74,1,MRI,3 Plane Localizer,Original,9/12/2018,DCM,2/26/2020
3,1048388,941_S_6581,CN,F,74,1,MRI,3 Plane Localizer,Original,9/12/2018,DCM,2/26/2020
4,1048389,941_S_6581,CN,F,74,1,MRI,3 Plane Localizer,Original,9/12/2018,DCM,2/26/2020
...,...,...,...,...,...,...,...,...,...,...,...,...
10500,238626,002_S_0295,CN,M,90,26,MRI,3 Plane Localizer,Original,6/02/2011,DCM,2/26/2020
10501,238627,002_S_0295,CN,M,90,26,MRI,MPRAGE,Original,6/02/2011,DCM,2/26/2020
10502,303066,002_S_0295,CN,M,91,28,MRI,MPRAGE,Original,5/10/2012,DCM,2/26/2020
10503,238628,002_S_0295,CN,M,90,26,MRI,MPRAGE SENSE2,Original,6/02/2011,DCM,2/26/2020
10504,303067,002_S_0295,CN,M,91,28,MRI,MPRAGE SENSE2,Original,5/10/2012,DCM,2/26/2020

In [16]:
AM1_data

,Image Data ID,Subject,Group,Sex,Age,Visit,Modality,Description,Type,Acq Date,Format,Downloaded
0,1231988,341_S_6820,AD,M,68,1,MRI,3 Plane Localizer,Original,9/25/2019,DCM,3/03/2020
1,1231989,341_S_6820,AD,M,68,1,MRI,3 Plane Localizer,Original,9/25/2019,DCM,3/03/2020
2,1231978,341_S_6820,AD,M,68,1,MRI,Accelerated Sagittal MPRAGE,Original,9/25/2019,DCM,3/03/2020
3,1231984,341_S_6820,AD,M,68,1,MRI,Field Mapping,Original,9/25/2019,DCM,3/03/2020
4,1231987,341_S_6820,AD,M,68,1,MRI,3 Plane Localizer,Original,9/25/2019,DCM,3/03/2020
...,...,...,...,...,...,...,...,...,...,...,...,...
3314,358617,002_S_5018,AD,M,74,24,MRI,Field Mapping,Original,2/11/2013,DCM,3/03/2020
3315,372816,002_S_5018,AD,M,74,25,MRI,Field Mapping,Original,5/16/2013,DCM,3/03/2020
3316,346242,002_S_5018,AD,M,73,22,MRI,MPRAGE,Original,11/08/2012,DCM,3/03/2020
3317,358618,002_S_5018,AD,M,74,24,MRI,MPRAGE,Original,2/11/2013,DCM,3/03/2020
3318,372817,002_S_5018,AD,M,74,25,MRI,MPRAGE,Original,5/16/2013,DCM,3/03/2020

In [83]:
ADNIMERGE

,RID,PTID,VISCODE,SITE,COLPROT,ORIGPROT,EXAMDATE,DX_bl,AGE,PTGENDER,...,TAU_bl,PTAU_bl,FDG_bl,PIB_bl,AV45_bl,Years_bl,Month_bl,Month,M,update_stamp
0,2,011_S_0002,bl,11,ADNI1,ADNI1,2005-09-08,CN,74.3,Male,...,NaN,NaN,1.36665,NaN,NaN,0.000000,0.00000,0,0.0,2020-01-09 04:20:17.0
1,3,011_S_0003,bl,11,ADNI1,ADNI1,2005-09-12,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,0.000000,0.00000,0,0.0,2020-01-09 04:20:17.0
2,3,011_S_0003,m06,11,ADNI1,ADNI1,2006-03-13,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,0.498289,5.96721,6,6.0,2020-01-09 04:20:17.0
3,3,011_S_0003,m12,11,ADNI1,ADNI1,2006-09-12,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,0.999316,11.96720,12,12.0,2020-01-09 04:20:17.0
4,3,011_S_0003,m24,11,ADNI1,ADNI1,2007-09-12,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,1.998630,23.93440,24,24.0,2020-01-09 04:20:17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14599,4176,033_S_4176,m96,33,ADNI3,ADNI2,2020-02-03,CN,84.0,Male,...,468.8,46.98,1.30432,NaN,1.22024,8.407940,100.68900,102,96.0,2020-02-06 04:20:30.0
14600,4631,137_S_4631,m96,137,ADNI3,ADNI2,2020-01-30,LMCI,69.5,Male,...,282.4,30.41,1.40810,NaN,1.43870,7.635870,91.44260,90,96.0,2020-02-07 04:20:29.0
14601,6652,002_S_6652,m12,2,ADNI3,ADNI3,2020-02-06,EMCI,86.4,Female,...,NaN,NaN,1.34365,NaN,1.06476,1.078710,12.91800,12,12.0,2020-02-08 04:20:39.0
14602,6524,114_S_6524,m12,114,ADNI3,ADNI3,2020-02-07,CN,66.4,Female,...,NaN,NaN,NaN,NaN,NaN,1.138950,13.63930,12,12.0,2020-02-08 04:20:38.0
14603,6653,341_S_6653,m12,341,ADNI3,ADNI3,2020-02-05,SMC,68.1,Male,...,NaN,NaN,1.30021,NaN,NaN,1.073240,12.85250,12,12.0,2020-02-08 04:20:39.0

### This part is for MCI data

In [92]:
## dataframe to keep the results
MCI_amyloid_pos = pd.DataFrame(columns=['PTID','EXAMDATE','ABETA_bl','AV45'])

sub_in_MM1 = list(set(list(MM1_data['Subject'])))

port = ['ADNI2','ADNI3','ADNIGO']

for ADNIindex, ADNIrow in ADNIMERGE.iterrows():
    if ADNIrow['PTID'] in sub_in_MM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['ABETA_bl'] != '>1700' and np.float(ADNIrow['ABETA_bl']) < 1100 and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE'],ADNIrow['ABETA_bl'],ADNIrow['AV45']]],columns=['PTID','EXAMDATE','ABETA_bl','AV45'])
        MCI_amyloid_pos = MCI_amyloid_pos.append(tempDataframe)
    if ADNIrow['PTID'] in sub_in_MM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['ABETA_bl'] != '>1700' and math.isnan(np.float(ADNIrow['ABETA_bl'])) and np.float(ADNIrow['AV45']) > 1.11 and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE'],ADNIrow['ABETA_bl'],ADNIrow['AV45']]],columns=['PTID','EXAMDATE','ABETA_bl','AV45'])
        MCI_amyloid_pos = MCI_amyloid_pos.append(tempDataframe)

In [97]:
MCI_amyloid_pos.to_csv('MCI_amyloid_pos.csv',index=False)

In [96]:
MCI_amyloid_pos

          PTID    EXAMDATE ABETA_bl     AV45
0   128_S_2003  2010-07-23      NaN  1.16466
0   031_S_2022  2010-08-05    929.2  1.31359
0   072_S_2037  2010-08-24      NaN  1.43899
0   099_S_2042  2010-08-25    827.6  1.06558
0   002_S_2043  2010-09-07      NaN  1.20402
..         ...         ...      ...      ...
0   099_S_6632  2019-01-17      NaN  1.18938
0   168_S_6634  2019-02-21      NaN  1.60110
0   023_S_6702  2019-04-26      NaN  1.20806
0   051_S_6719  2019-05-15      NaN  1.23803
0   041_S_6731  2019-06-10      NaN  1.34515

[307 rows x 4 columns]

In [10]:
## This is for all MCI MRI data, no matter amyloid positive or amyloid negative
MCI_all = pd.DataFrame(columns=['PTID','EXAMDATE'])

sub_in_MM1 = list(set(list(MM1_data['Subject'])))

port = ['ADNI2','ADNI3','ADNIGO']

for ADNIindex, ADNIrow in ADNIMERGE.iterrows():
    if ADNIrow['PTID'] in sub_in_MM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE']]],columns=['PTID','EXAMDATE'])
        MCI_all = MCI_all.append(tempDataframe)

In [11]:
MCI_all

          PTID    EXAMDATE
0   128_S_2002  2010-06-16
0   128_S_2003  2010-07-23
0   031_S_2022  2010-08-05
0   072_S_2037  2010-08-24
0   099_S_2042  2010-08-25
..         ...         ...
0   137_S_6693  2019-12-16
0   052_S_6832  2020-01-09
0   052_S_6844  2020-01-13
0   024_S_6846  2020-01-23
0   022_S_6847  2020-02-10

[628 rows x 2 columns]

In [12]:
MCI_all.to_csv(os.path.join(csvPath,'MCI_all.csv'),index=False)

### This part is for CN data

In [8]:
## dataframe to keep the results
CN_amyloid_pos = pd.DataFrame(columns=['PTID','EXAMDATE','ABETA_bl','AV45'])

In [9]:
sub_in_CM1 = list(set(list(CM1_data['Subject'])))

In [10]:
port = ['ADNI2','ADNI3','ADNIGO']

In [12]:
for ADNIindex, ADNIrow in ADNIMERGE.iterrows():
    if ADNIrow['PTID'] in sub_in_CM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['ABETA_bl'] != '>1700' and np.float(ADNIrow['ABETA_bl']) < 1100 and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE'],ADNIrow['ABETA_bl'],ADNIrow['AV45']]],columns=['PTID','EXAMDATE','ABETA_bl','AV45'])
        CN_amyloid_pos = CN_amyloid_pos.append(tempDataframe)
    if ADNIrow['PTID'] in sub_in_CM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['ABETA_bl'] != '>1700' and math.isnan(np.float(ADNIrow['ABETA_bl'])) and np.float(ADNIrow['AV45']) > 1.11 and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE'],ADNIrow['ABETA_bl'],ADNIrow['AV45']]],columns=['PTID','EXAMDATE','ABETA_bl','AV45'])
        CN_amyloid_pos = CN_amyloid_pos.append(tempDataframe)

In [16]:
CN_amyloid_pos.to_csv(os.path.join(csvPath,'CN_amyloid_pos.csv'),index=False)

In [15]:
CN_amyloid_pos

          PTID    EXAMDATE ABETA_bl      AV45
0   016_S_4951  2012-11-19     1024  1.039290
0   070_S_4856  2012-08-03    975.8  0.937777
0   116_S_4855  2012-08-07    732.8  1.213200
0   127_S_4843  2012-08-06      NaN  1.187480
0   019_S_4835  2012-07-24    728.6  1.099920
..         ...         ...      ...       ...
0   003_S_6307  2018-08-13      NaN  1.190080
0   035_S_6551  2018-08-23      NaN  1.701010
0   168_S_6492  2018-08-30      NaN  1.296410
0   003_S_6644  2019-01-30      NaN  1.248110
0   032_S_6699  2019-07-10      NaN  1.156050

[109 rows x 4 columns]

In [31]:
## This is for all MCI MRI data, no matter amyloid positive or amyloid negative
CN_all = pd.DataFrame(columns=['PTID','EXAMDATE'])

sub_in_CM1 = list(set(list(CM1_data['Subject'])))

port = ['ADNI2','ADNI3','ADNIGO']

for ADNIindex, ADNIrow in ADNIMERGE.iterrows():
    if ADNIrow['PTID'] in sub_in_CM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE']]],columns=['PTID','EXAMDATE'])
        CN_all = CN_all.append(tempDataframe)

In [32]:
CN_all

          PTID    EXAMDATE
0   016_S_4951  2012-11-19
0   032_S_4921  2012-09-28
0   003_S_4900  2012-08-29
0   003_S_4872  2012-08-22
0   070_S_4856  2012-08-03
..         ...         ...
0   114_S_6813  2019-11-05
0   016_S_6790  2019-09-24
0   016_S_6802  2019-09-18
0   016_S_6834  2019-12-11
0   014_S_6831  2020-01-06

[483 rows x 2 columns]

In [33]:
CN_all.to_csv(os.path.join(csvPath,'CN_all.csv'),index=False)

## This part is for AD data

In [18]:
## This is for all MCI MRI data, no matter amyloid positive or amyloid negative
AD_all = pd.DataFrame(columns=['PTID','EXAMDATE'])

sub_in_AM1 = list(set(list(AM1_data['Subject'])))

port = ['ADNI2','ADNI3','ADNIGO']

for ADNIindex, ADNIrow in ADNIMERGE.iterrows():
    if ADNIrow['PTID'] in sub_in_AM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE']]],columns=['PTID','EXAMDATE'])
        AD_all = AD_all.append(tempDataframe)

In [19]:
AD_all

          PTID    EXAMDATE
0   135_S_5275  2013-08-27
0   009_S_5252  2013-08-14
0   016_S_5251  2013-10-08
0   023_S_5241  2013-10-25
0   018_S_5240  2013-08-26
..         ...         ...
0   305_S_6810  2019-11-26
0   003_S_6833  2019-12-11
0   135_S_6840  2019-12-16
0   016_S_6839  2020-01-13
0   168_S_6843  2020-01-28

[203 rows x 2 columns]

In [20]:
AD_all.to_csv(os.path.join(csvPath,'AD_all.csv'),index=False)

## This part is to add tauPET data result to ADNIMERGE.csv

In [37]:
tauPET = pd.read_csv(os.path.join(csvPath,'UCBERKELEYAV1451_02_04_20.csv'))

ADNIMERGE_withTau = ADNIMERGE

,RID,VISCODE,VISCODE2,EXAMDATE,INFERIORCEREBELLUM_SUVR,INFERIORCEREBELLUM_VOLUME,ERODED_SUBCORTICALWM_SUVR,ERODED_SUBCORTICALWM_VOLUME,BRAAK12_SUVR,BRAAK12_VOLUME,...,RIGHT_THALAMUS_PROPER_SUVR,RIGHT_THALAMUS_PROPER_VOLUME,RIGHT_VENTRALDC_SUVR,RIGHT_VENTRALDC_VOLUME,RIGHT_VESSEL_SUVR,RIGHT_VESSEL_VOLUME,WM_HYPOINTENSITIES_SUVR,WM_HYPOINTENSITIES_VOLUME,update_stamp,Composite-ROI
0,21,init,m144,2018/2/2,1.0299,52306,1.2078,235072,1.5005,10275,...,1.4502,5968,1.3700,3045,1.4225,55.0,1.0307,3229,03:16.0,1.269779
1,31,init,m144,2018/4/24,0.9761,54296,1.0607,166534,1.2676,7587,...,1.1399,5442,1.2306,3083,1.3924,25.0,0.7766,31427,03:16.0,1.121871
2,31,y1,m156,2019/4/23,0.9728,54296,1.0461,166534,1.2924,7587,...,1.0777,5442,1.1674,3083,1.4014,25.0,0.7909,31427,03:16.0,1.093877
3,56,init,m144,2018/2/20,0.9899,56750,1.2599,249803,1.3454,9376,...,1.3388,5940,1.3504,3368,1.5561,85.0,1.0458,2352,03:16.0,1.237779
4,56,y1,m156,2019/1/10,0.9635,56750,1.2913,249803,1.3437,9376,...,1.3660,5940,1.3707,3368,1.4821,85.0,1.0729,2352,03:16.0,1.216469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1026,6786,bl,bl,2019/11/7,0.9607,54483,1.2101,261441,1.2564,9060,...,1.1177,5309,1.2173,3194,1.3668,146.0,0.9689,2220,03:18.0,1.202362
1027,6788,bl,bl,2019/8/28,0.9919,61142,1.2171,283334,1.4316,8617,...,1.1963,5631,1.3085,3582,1.5301,129.0,0.9306,3837,03:18.0,1.640171
1028,6797,bl,bl,2019/10/2,1.0333,63692,1.2012,300505,1.2318,11134,...,1.2178,7284,1.2746,3704,1.3538,66.0,0.9778,3039,03:18.0,1.280738
1029,6822,bl,bl,2019/10/23,0.9706,52545,0.9785,271936,1.0603,11154,...,1.0574,5638,1.1013,3243,1.0318,68.0,0.9091,356,03:18.0,1.059985
1030,6830,bl,bl,2019/11/7,0.9526,52793,1.0601,280494,1.1041,9237,...,1.1032,5718,1.0700,3159,1.2319,169.0,0.8078,10214,03:18.0,1.086649

In [56]:
ADNIMERGE_withTau['AV1451'] = np.nan

for Aindex, Arow in ADNIMERGE_withTau.iterrows():
    for Tindex, Trow in tauPET.iterrows():
        if Arow['RID'] == Trow['RID'] and Arow['VISCODE'] == Trow['VISCODE2']:
            print(Arow["RID"],)
            c['AV1451'][Aindex] = tauPET['Composite-ROI'][Tindex]

ADNIMERGE_withTau.to_csv(os.path.join(csvPath,'ADNIMERGE_withTau.csv'),index=False)

,RID,PTID,VISCODE,SITE,COLPROT,ORIGPROT,EXAMDATE,DX_bl,AGE,PTGENDER,...,PTAU_bl,FDG_bl,PIB_bl,AV45_bl,Years_bl,Month_bl,Month,M,update_stamp,AV1451
138,5277,027_S_5277,m24,27,ADNI2,ADNI2,2015-08-31,SMC,71.8,Female,...,34.39,1.41682,NaN,1.73413,2.00684,24.0328,24,24.0,2020-01-09 04:20:39.0,1.306334
218,5273,135_S_5273,m36,135,ADNI2,ADNI2,2016-08-25,SMC,90.1,Male,...,NaN,1.14716,NaN,1.19456,3.01437,36.0984,36,36.0,2020-01-09 04:20:39.0,1.109852
240,5273,135_S_5273,m24,135,ADNI2,ADNI2,2015-08-26,SMC,90.1,Male,...,NaN,1.14716,NaN,1.19456,2.01506,24.1311,24,24.0,2020-01-09 04:20:39.0,1.102371
400,5269,135_S_5269,m36,135,ADNI2,ADNI2,2016-08-16,SMC,64.9,Male,...,10.55,1.23539,NaN,1.04955,2.98973,35.8033,36,36.0,2020-01-09 04:20:39.0,1.134470
401,5269,135_S_5269,m24,135,ADNI2,ADNI2,2015-09-01,SMC,64.9,Male,...,10.55,1.23539,NaN,1.04955,2.03149,24.3279,24,24.0,2020-01-09 04:20:39.0,1.119289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14435,4149,031_S_4149,m96,31,ADNI3,ADNI2,2019-10-28,EMCI,73.3,Male,...,18.54,1.31762,NaN,1.18071,8.19165,98.0984,96,96.0,2020-01-09 04:20:32.0,1.294959
14436,6076,014_S_6076,m24,14,ADNI3,ADNI3,2019-10-30,SMC,58.7,Female,...,NaN,NaN,NaN,NaN,2.01506,24.1311,24,24.0,2020-01-09 04:20:40.0,1.114025
14454,6830,129_S_6830,bl,129,ADNI3,ADNI3,2019-11-07,LMCI,90.0,Male,...,NaN,NaN,NaN,NaN,0.00000,0.0000,0,0.0,2020-01-09 04:20:41.0,1.086649
14458,6512,127_S_6512,m12,127,ADNI3,ADNI3,2019-09-26,LMCI,78.2,Male,...,NaN,1.30603,NaN,NaN,1.03491,12.3934,12,12.0,2020-01-09 04:20:41.0,1.084589
14460,731,006_S_0731,m156,6,ADNI3,ADNI1,2019-10-03,CN,71.5,Male,...,27.56,1.44731,NaN,NaN,13.07600,156.5900,156,156.0,2020-01-09 04:20:24.0,1.243677

## This part is to add Amyloid and Tau PosOrNeg column

In [52]:
ADNIMERGE_withTau = pd.read_csv(os.path.join(csvPath,'ADNIMERGE_withTau.csv'))
ADNIMERGE_withTau_AbetaTauPosNeg = ADNIMERGE_withTau

/home/ubuntu/anaconda3/envs/spm/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (18,19,20,103,104) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [53]:
#To be clear here, 1 represents Positive, 0 represents negative
ADNIMERGE_withTau_AbetaTauPosNeg['AbetaPosOrNeg'] = np.nan
ADNIMERGE_withTau_AbetaTauPosNeg['TauPosOrNeg'] = np.nan
ADNIMERGE_withTau_AbetaTauPosNeg['AbetaTauPosOrNeg'] = np.nan
for ADNIindex, ADNIrow in ADNIMERGE_withTau.iterrows():
    if ADNIrow['VISCODE'] == 'bl' and ADNIrow['ABETA_bl'] != '>1700' and (ADNIrow['ABETA_bl'] == '<200' or np.float(ADNIrow['ABETA_bl']) < 1100):
        ADNIMERGE_withTau_AbetaTauPosNeg['AbetaPosOrNeg'][ADNIindex] = 1
    else:
        ADNIMERGE_withTau_AbetaTauPosNeg['AbetaPosOrNeg'][ADNIindex] = 0
    if ADNIrow['VISCODE'] == 'bl' and ADNIrow['ABETA_bl'] != '>1700' and ADNIrow['ABETA_bl'] != '<200' and math.isnan(np.float(ADNIrow['ABETA_bl'])) and np.float(ADNIrow['AV45']) > 1.11:
        ADNIMERGE_withTau_AbetaTauPosNeg['AbetaPosOrNeg'][ADNIindex] = 1
    if ADNIrow['VISCODE'] == 'bl' and ADNIrow['PTAU'] != '<8' and (ADNIrow['PTAU'] == '>120' or float(ADNIrow['PTAU']) > 26.64):
        ADNIMERGE_withTau_AbetaTauPosNeg['TauPosOrNeg'][ADNIindex] = 1
    else:
        ADNIMERGE_withTau_AbetaTauPosNeg['TauPosOrNeg'][ADNIindex] = 0
    if ADNIrow['VISCODE'] == 'bl' and ADNIrow['PTAU'] != '>120' and ADNIrow['PTAU'] != '<8' and math.isnan(np.float(ADNIrow['PTAU'])) and float(ADNIrow['AV1451']) > 1.37:
        ADNIMERGE_withTau_AbetaTauPosNeg['TauPosOrNeg'][ADNIindex] = 1
    if ADNIMERGE_withTau_AbetaTauPosNeg['TauPosOrNeg'][ADNIindex] + ADNIMERGE_withTau_AbetaTauPosNeg['AbetaPosOrNeg'][ADNIindex] == 2:
        ADNIMERGE_withTau_AbetaTauPosNeg['AbetaTauPosOrNeg'][ADNIindex] = 1
    else:
        ADNIMERGE_withTau_AbetaTauPosNeg['AbetaTauPosOrNeg'][ADNIindex] = 0
    


ADNIMERGE_withTau_AbetaTauPosNeg.to_csv(os.path.join(csvPath,"ADNIMERGE_withTau_AbetaTauPosNeg.csv"))

/home/ubuntu/anaconda3/envs/spm/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/home/ubuntu/anaconda3/envs/spm/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/home/ubuntu/anaconda3/envs/spm/lib/python3.6/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/ubuntu/anaconda3/envs/spm/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/ubuntu/anaconda3/envs/spm/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/home/ubuntu/anaconda3/envs/spm/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/ubuntu/anaconda3/envs/spm/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/home/ubuntu/anaconda3/envs/spm/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [58]:
list(ADNIMERGE_withTau_AbetaTauPosNeg[ADNIMERGE_withTau_AbetaTauPosNeg['AbetaTauPosOrNeg'] == 1.0]['TauPosOrNeg'])

[1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0]

In [43]:
ADNIMERGE_withTau_AbetaTauPosNeg

,RID,PTID,VISCODE,SITE,COLPROT,ORIGPROT,EXAMDATE,DX_bl,AGE,PTGENDER,...,AV45_bl,Years_bl,Month_bl,Month,M,update_stamp,AV1451,AbetaPosOrNeg,TauPosOrNeg,AbetaTauPosOrNeg
0,2,011_S_0002,bl,11,ADNI1,ADNI1,2005-09-08,CN,74.3,Male,...,NaN,0.000000,0.00000,0,0.0,2020-01-09 04:20:17.0,NaN,0.0,0.0,0.0
1,3,011_S_0003,bl,11,ADNI1,ADNI1,2005-09-12,AD,81.3,Male,...,NaN,0.000000,0.00000,0,0.0,2020-01-09 04:20:17.0,NaN,0.0,0.0,0.0
2,3,011_S_0003,m06,11,ADNI1,ADNI1,2006-03-13,AD,81.3,Male,...,NaN,0.498289,5.96721,6,6.0,2020-01-09 04:20:17.0,NaN,0.0,0.0,0.0
3,3,011_S_0003,m12,11,ADNI1,ADNI1,2006-09-12,AD,81.3,Male,...,NaN,0.999316,11.96720,12,12.0,2020-01-09 04:20:17.0,NaN,0.0,0.0,0.0
4,3,011_S_0003,m24,11,ADNI1,ADNI1,2007-09-12,AD,81.3,Male,...,NaN,1.998630,23.93440,24,24.0,2020-01-09 04:20:17.0,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14600,4631,137_S_4631,m96,137,ADNI3,ADNI2,2020-01-30,LMCI,69.5,Male,...,1.43870,7.635870,91.44260,90,96.0,2020-02-07 04:20:29.0,NaN,0.0,0.0,0.0
14601,6652,002_S_6652,m12,2,ADNI3,ADNI3,2020-02-06,EMCI,86.4,Female,...,1.06476,1.078710,12.91800,12,12.0,2020-02-08 04:20:39.0,NaN,0.0,0.0,0.0
14602,6524,114_S_6524,m12,114,ADNI3,ADNI3,2020-02-07,CN,66.4,Female,...,NaN,1.138950,13.63930,12,12.0,2020-02-08 04:20:38.0,NaN,0.0,0.0,0.0
14603,6653,341_S_6653,m12,341,ADNI3,ADNI3,2020-02-05,SMC,68.1,Male,...,NaN,1.073240,12.85250,12,12.0,2020-02-08 04:20:39.0,NaN,0.0,0.0,0.0
14604,6847,022_S_6847,bl,22,ADNI3,ADNI3,2020-02-10,NaN,72.9,Male,...,NaN,0.000000,0.00000,0,0.0,2020-02-11 04:20:18.0,NaN,0.0,0.0,0.0

## This is the start of draft

In [93]:
math.isnan((ADNIMERGE['ABETA_bl'][100]))

True

In [39]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[7, 8]], columns = ['a','b'])

df = df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  7  8

In [47]:
#To be clear here, 1 represents Positive, 0 represents negative
ADNIMERGE_withTau_AbetaTauPosNeg['AbetaPosOrNeg'] = np.nan
ADNIMERGE_withTau_AbetaTauPosNeg['TauPosOrNeg'] = np.nan
ADNIMERGE_withTau_AbetaTauPosNeg['AbetaTauPosOrNeg'] = np.nan
for ADNIindex, ADNIrow in ADNIMERGE_withTau.iterrows():
    if (ADNIrow['VISCODE'] == 'bl' and ADNIrow['ABETA_bl'] != '>1700' and \
    (ADNIrow['ABETA_bl'] == '<200' or np.float(ADNIrow['ABETA_bl']) < 1100)) or \
    (ADNIrow['VISCODE'] == 'bl' and ADNIrow['ABETA_bl'] != '>1700' and ADNIrow['ABETA_bl'] != '<200' and \
    math.isnan(np.float(ADNIrow['ABETA_bl'])) and np.float(ADNIrow['AV45']) > 1.11):
        ADNIMERGE_withTau_AbetaTauPosNeg['AbetaPosOrNeg'][ADNIindex] = 1
    else:
        ADNIMERGE_withTau_AbetaTauPosNeg['AbetaPosOrNeg'][ADNIindex] = 0
    if (ADNIrow['VISCODE'] == 'bl' and ADNIrow['PTAU'] != '<8' and (ADNIrow['PTAU'] == '>120'  
    or float(ADNIrow['PTAU']) > 26.64)) or (ADNIrow['VISCODE'] == 'bl' and ADNIrow['PTAU'] != '>120' and ADNIrow['PTAU'] != '<8' and \
    math.isnan(np.float(ADNIrow['PTAU'])) and float(ADNIrow['AV1451']) > 1.37):
        ADNIMERGE_withTau_AbetaTauPosNeg['TauPosOrNeg'][ADNIindex] = 1
    else:
        ADNIMERGE_withTau_AbetaTauPosNeg['TauPosOrNeg'][ADNIindex] = 0
    if ADNIMERGE_withTau_AbetaTauPosNeg['TauPosOrNeg'][ADNIindex] + ADNIMERGE_withTau_AbetaTauPosNeg['AbetaPosOrNeg'][ADNIindex] == 2:
        ADNIMERGE_withTau_AbetaTauPosNeg['AbetaTauPosOrNeg'][ADNIindex] = 1
    else:
        ADNIMERGE_withTau_AbetaTauPosNeg['AbetaTauPosOrNeg'][ADNIindex] = 0

/home/ubuntu/anaconda3/envs/spm/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/home/ubuntu/anaconda3/envs/spm/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/ubuntu/anaconda3/envs/spm/lib/python3.6/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/ubuntu/anaconda3/envs/spm/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/home/ubuntu/anaconda3/envs/spm/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/home/ubuntu/anaconda3/envs/spm/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy