## This is to get the PTID image list of MCI or CN, which are amyloid-beta-positive. For the series image of a person, we choose the one which is near the date of get baseline CSF.

In [52]:
import numpy as np
import pandas as pd
import os
import math

In [22]:
os.environ['CONDA_DEFAULT_ENV']

'neuro'

In [23]:
ls

README.md                          extractVolumesForSubtypes.ipynb
aimedSubFolderNameListMake.sh      list.json
all.json                           makeSpecificPeopleCSV.ipynb
atrophyModelBuild.ipynb            merge_folder.ipynb
convertFreesurferOutput2CSV.ipynb  nohup.out
csvFiles/                          updateTags.sh
dicomToNii.ipynb                   uploadNiiToBrainIo.ipynb
downloadFreesurferOutput.sh        uploadNiiToBrainIo.sh

In [40]:
csvPath = "/home/ubuntu/Desktop/ADNI_MRI_Image/neuroScript/csvFiles"

In [41]:
# MM1_data = pd.read_csv(os.path.join(csvPath,'MM1.csv'))
CM1_data = pd.read_csv(os.path.join(csvPath,'CM1.csv'))
AM1_data = pd.read_csv(os.path.join(csvPath,'AM1.csv'))
ADNIMERGE = pd.read_csv(os.path.join(csvPath,'ADNIMERGE.csv'))

/home/ubuntu/anaconda3/envs/neuro/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (18,19,20,103,104) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
MM1_data

NameError: name 'MM1_data' is not defined

In [7]:
CM1_data

,Image Data ID,Subject,Group,Sex,Age,Visit,Modality,Description,Type,Acq Date,Format,Downloaded
0,1048378,941_S_6581,CN,F,74,1,MRI,Accelerated Sagittal MPRAGE,Original,9/12/2018,DCM,2/26/2020
1,1048384,941_S_6581,CN,F,74,1,MRI,Field Mapping,Original,9/12/2018,DCM,2/26/2020
2,1048387,941_S_6581,CN,F,74,1,MRI,3 Plane Localizer,Original,9/12/2018,DCM,2/26/2020
3,1048388,941_S_6581,CN,F,74,1,MRI,3 Plane Localizer,Original,9/12/2018,DCM,2/26/2020
4,1048389,941_S_6581,CN,F,74,1,MRI,3 Plane Localizer,Original,9/12/2018,DCM,2/26/2020
...,...,...,...,...,...,...,...,...,...,...,...,...
10500,238626,002_S_0295,CN,M,90,26,MRI,3 Plane Localizer,Original,6/02/2011,DCM,2/26/2020
10501,238627,002_S_0295,CN,M,90,26,MRI,MPRAGE,Original,6/02/2011,DCM,2/26/2020
10502,303066,002_S_0295,CN,M,91,28,MRI,MPRAGE,Original,5/10/2012,DCM,2/26/2020
10503,238628,002_S_0295,CN,M,90,26,MRI,MPRAGE SENSE2,Original,6/02/2011,DCM,2/26/2020
10504,303067,002_S_0295,CN,M,91,28,MRI,MPRAGE SENSE2,Original,5/10/2012,DCM,2/26/2020

In [16]:
AM1_data

,Image Data ID,Subject,Group,Sex,Age,Visit,Modality,Description,Type,Acq Date,Format,Downloaded
0,1231988,341_S_6820,AD,M,68,1,MRI,3 Plane Localizer,Original,9/25/2019,DCM,3/03/2020
1,1231989,341_S_6820,AD,M,68,1,MRI,3 Plane Localizer,Original,9/25/2019,DCM,3/03/2020
2,1231978,341_S_6820,AD,M,68,1,MRI,Accelerated Sagittal MPRAGE,Original,9/25/2019,DCM,3/03/2020
3,1231984,341_S_6820,AD,M,68,1,MRI,Field Mapping,Original,9/25/2019,DCM,3/03/2020
4,1231987,341_S_6820,AD,M,68,1,MRI,3 Plane Localizer,Original,9/25/2019,DCM,3/03/2020
...,...,...,...,...,...,...,...,...,...,...,...,...
3314,358617,002_S_5018,AD,M,74,24,MRI,Field Mapping,Original,2/11/2013,DCM,3/03/2020
3315,372816,002_S_5018,AD,M,74,25,MRI,Field Mapping,Original,5/16/2013,DCM,3/03/2020
3316,346242,002_S_5018,AD,M,73,22,MRI,MPRAGE,Original,11/08/2012,DCM,3/03/2020
3317,358618,002_S_5018,AD,M,74,24,MRI,MPRAGE,Original,2/11/2013,DCM,3/03/2020
3318,372817,002_S_5018,AD,M,74,25,MRI,MPRAGE,Original,5/16/2013,DCM,3/03/2020

In [83]:
ADNIMERGE

,RID,PTID,VISCODE,SITE,COLPROT,ORIGPROT,EXAMDATE,DX_bl,AGE,PTGENDER,...,TAU_bl,PTAU_bl,FDG_bl,PIB_bl,AV45_bl,Years_bl,Month_bl,Month,M,update_stamp
0,2,011_S_0002,bl,11,ADNI1,ADNI1,2005-09-08,CN,74.3,Male,...,NaN,NaN,1.36665,NaN,NaN,0.000000,0.00000,0,0.0,2020-01-09 04:20:17.0
1,3,011_S_0003,bl,11,ADNI1,ADNI1,2005-09-12,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,0.000000,0.00000,0,0.0,2020-01-09 04:20:17.0
2,3,011_S_0003,m06,11,ADNI1,ADNI1,2006-03-13,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,0.498289,5.96721,6,6.0,2020-01-09 04:20:17.0
3,3,011_S_0003,m12,11,ADNI1,ADNI1,2006-09-12,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,0.999316,11.96720,12,12.0,2020-01-09 04:20:17.0
4,3,011_S_0003,m24,11,ADNI1,ADNI1,2007-09-12,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,1.998630,23.93440,24,24.0,2020-01-09 04:20:17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14599,4176,033_S_4176,m96,33,ADNI3,ADNI2,2020-02-03,CN,84.0,Male,...,468.8,46.98,1.30432,NaN,1.22024,8.407940,100.68900,102,96.0,2020-02-06 04:20:30.0
14600,4631,137_S_4631,m96,137,ADNI3,ADNI2,2020-01-30,LMCI,69.5,Male,...,282.4,30.41,1.40810,NaN,1.43870,7.635870,91.44260,90,96.0,2020-02-07 04:20:29.0
14601,6652,002_S_6652,m12,2,ADNI3,ADNI3,2020-02-06,EMCI,86.4,Female,...,NaN,NaN,1.34365,NaN,1.06476,1.078710,12.91800,12,12.0,2020-02-08 04:20:39.0
14602,6524,114_S_6524,m12,114,ADNI3,ADNI3,2020-02-07,CN,66.4,Female,...,NaN,NaN,NaN,NaN,NaN,1.138950,13.63930,12,12.0,2020-02-08 04:20:38.0
14603,6653,341_S_6653,m12,341,ADNI3,ADNI3,2020-02-05,SMC,68.1,Male,...,NaN,NaN,1.30021,NaN,NaN,1.073240,12.85250,12,12.0,2020-02-08 04:20:39.0

### This part is for MCI data

In [92]:
## dataframe to keep the results
MCI_amyloid_pos = pd.DataFrame(columns=['PTID','EXAMDATE','ABETA_bl','AV45'])

sub_in_MM1 = list(set(list(MM1_data['Subject'])))

port = ['ADNI2','ADNI3','ADNIGO']

for ADNIindex, ADNIrow in ADNIMERGE.iterrows():
    if ADNIrow['PTID'] in sub_in_MM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['ABETA_bl'] != '>1700' and np.float(ADNIrow['ABETA_bl']) < 1100 and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE'],ADNIrow['ABETA_bl'],ADNIrow['AV45']]],columns=['PTID','EXAMDATE','ABETA_bl','AV45'])
        MCI_amyloid_pos = MCI_amyloid_pos.append(tempDataframe)
    if ADNIrow['PTID'] in sub_in_MM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['ABETA_bl'] != '>1700' and math.isnan(np.float(ADNIrow['ABETA_bl'])) and np.float(ADNIrow['AV45']) > 1.11 and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE'],ADNIrow['ABETA_bl'],ADNIrow['AV45']]],columns=['PTID','EXAMDATE','ABETA_bl','AV45'])
        MCI_amyloid_pos = MCI_amyloid_pos.append(tempDataframe)

In [97]:
MCI_amyloid_pos.to_csv('MCI_amyloid_pos.csv',index=False)

In [96]:
MCI_amyloid_pos

          PTID    EXAMDATE ABETA_bl     AV45
0   128_S_2003  2010-07-23      NaN  1.16466
0   031_S_2022  2010-08-05    929.2  1.31359
0   072_S_2037  2010-08-24      NaN  1.43899
0   099_S_2042  2010-08-25    827.6  1.06558
0   002_S_2043  2010-09-07      NaN  1.20402
..         ...         ...      ...      ...
0   099_S_6632  2019-01-17      NaN  1.18938
0   168_S_6634  2019-02-21      NaN  1.60110
0   023_S_6702  2019-04-26      NaN  1.20806
0   051_S_6719  2019-05-15      NaN  1.23803
0   041_S_6731  2019-06-10      NaN  1.34515

[307 rows x 4 columns]

In [10]:
## This is for all MCI MRI data, no matter amyloid positive or amyloid negative
MCI_all = pd.DataFrame(columns=['PTID','EXAMDATE'])

sub_in_MM1 = list(set(list(MM1_data['Subject'])))

port = ['ADNI2','ADNI3','ADNIGO']

for ADNIindex, ADNIrow in ADNIMERGE.iterrows():
    if ADNIrow['PTID'] in sub_in_MM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE']]],columns=['PTID','EXAMDATE'])
        MCI_all = MCI_all.append(tempDataframe)

In [11]:
MCI_all

          PTID    EXAMDATE
0   128_S_2002  2010-06-16
0   128_S_2003  2010-07-23
0   031_S_2022  2010-08-05
0   072_S_2037  2010-08-24
0   099_S_2042  2010-08-25
..         ...         ...
0   137_S_6693  2019-12-16
0   052_S_6832  2020-01-09
0   052_S_6844  2020-01-13
0   024_S_6846  2020-01-23
0   022_S_6847  2020-02-10

[628 rows x 2 columns]

In [12]:
MCI_all.to_csv(os.path.join(csvPath,'MCI_all.csv'),index=False)

### This part is for CN data

In [8]:
## dataframe to keep the results
CN_amyloid_pos = pd.DataFrame(columns=['PTID','EXAMDATE','ABETA_bl','AV45'])

In [9]:
sub_in_CM1 = list(set(list(CM1_data['Subject'])))

In [10]:
port = ['ADNI2','ADNI3','ADNIGO']

In [12]:
for ADNIindex, ADNIrow in ADNIMERGE.iterrows():
    if ADNIrow['PTID'] in sub_in_CM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['ABETA_bl'] != '>1700' and np.float(ADNIrow['ABETA_bl']) < 1100 and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE'],ADNIrow['ABETA_bl'],ADNIrow['AV45']]],columns=['PTID','EXAMDATE','ABETA_bl','AV45'])
        CN_amyloid_pos = CN_amyloid_pos.append(tempDataframe)
    if ADNIrow['PTID'] in sub_in_CM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['ABETA_bl'] != '>1700' and math.isnan(np.float(ADNIrow['ABETA_bl'])) and np.float(ADNIrow['AV45']) > 1.11 and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE'],ADNIrow['ABETA_bl'],ADNIrow['AV45']]],columns=['PTID','EXAMDATE','ABETA_bl','AV45'])
        CN_amyloid_pos = CN_amyloid_pos.append(tempDataframe)

In [16]:
CN_amyloid_pos.to_csv(os.path.join(csvPath,'CN_amyloid_pos.csv'),index=False)

In [15]:
CN_amyloid_pos

          PTID    EXAMDATE ABETA_bl      AV45
0   016_S_4951  2012-11-19     1024  1.039290
0   070_S_4856  2012-08-03    975.8  0.937777
0   116_S_4855  2012-08-07    732.8  1.213200
0   127_S_4843  2012-08-06      NaN  1.187480
0   019_S_4835  2012-07-24    728.6  1.099920
..         ...         ...      ...       ...
0   003_S_6307  2018-08-13      NaN  1.190080
0   035_S_6551  2018-08-23      NaN  1.701010
0   168_S_6492  2018-08-30      NaN  1.296410
0   003_S_6644  2019-01-30      NaN  1.248110
0   032_S_6699  2019-07-10      NaN  1.156050

[109 rows x 4 columns]

In [31]:
## This is for all MCI MRI data, no matter amyloid positive or amyloid negative
CN_all = pd.DataFrame(columns=['PTID','EXAMDATE'])

sub_in_CM1 = list(set(list(CM1_data['Subject'])))

port = ['ADNI2','ADNI3','ADNIGO']

for ADNIindex, ADNIrow in ADNIMERGE.iterrows():
    if ADNIrow['PTID'] in sub_in_CM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE']]],columns=['PTID','EXAMDATE'])
        CN_all = CN_all.append(tempDataframe)

In [32]:
CN_all

          PTID    EXAMDATE
0   016_S_4951  2012-11-19
0   032_S_4921  2012-09-28
0   003_S_4900  2012-08-29
0   003_S_4872  2012-08-22
0   070_S_4856  2012-08-03
..         ...         ...
0   114_S_6813  2019-11-05
0   016_S_6790  2019-09-24
0   016_S_6802  2019-09-18
0   016_S_6834  2019-12-11
0   014_S_6831  2020-01-06

[483 rows x 2 columns]

In [33]:
CN_all.to_csv(os.path.join(csvPath,'CN_all.csv'),index=False)

## This part is for AD data

In [18]:
## This is for all MCI MRI data, no matter amyloid positive or amyloid negative
AD_all = pd.DataFrame(columns=['PTID','EXAMDATE'])

sub_in_AM1 = list(set(list(AM1_data['Subject'])))

port = ['ADNI2','ADNI3','ADNIGO']

for ADNIindex, ADNIrow in ADNIMERGE.iterrows():
    if ADNIrow['PTID'] in sub_in_AM1 and ADNIrow['VISCODE'] == 'bl' and ADNIrow['COLPROT'] in port:
        tempDataframe = pd.DataFrame([[ADNIrow['PTID'],ADNIrow['EXAMDATE']]],columns=['PTID','EXAMDATE'])
        AD_all = AD_all.append(tempDataframe)

In [19]:
AD_all

          PTID    EXAMDATE
0   135_S_5275  2013-08-27
0   009_S_5252  2013-08-14
0   016_S_5251  2013-10-08
0   023_S_5241  2013-10-25
0   018_S_5240  2013-08-26
..         ...         ...
0   305_S_6810  2019-11-26
0   003_S_6833  2019-12-11
0   135_S_6840  2019-12-16
0   016_S_6839  2020-01-13
0   168_S_6843  2020-01-28

[203 rows x 2 columns]

In [20]:
AD_all.to_csv(os.path.join(csvPath,'AD_all.csv'),index=False)

## This part is to add tauPET data result to ADNIMERGE.csv

In [37]:
tauPET = pd.read_csv(os.path.join(csvPath,'UCBERKELEYAV1451_02_04_20.csv'))
tauPET

,RID,VISCODE,VISCODE2,EXAMDATE,INFERIORCEREBELLUM_SUVR,INFERIORCEREBELLUM_VOLUME,ERODED_SUBCORTICALWM_SUVR,ERODED_SUBCORTICALWM_VOLUME,BRAAK12_SUVR,BRAAK12_VOLUME,...,RIGHT_THALAMUS_PROPER_SUVR,RIGHT_THALAMUS_PROPER_VOLUME,RIGHT_VENTRALDC_SUVR,RIGHT_VENTRALDC_VOLUME,RIGHT_VESSEL_SUVR,RIGHT_VESSEL_VOLUME,WM_HYPOINTENSITIES_SUVR,WM_HYPOINTENSITIES_VOLUME,update_stamp,Composite-ROI
0,21,init,m144,2018/2/2,1.0299,52306,1.2078,235072,1.5005,10275,...,1.4502,5968,1.3700,3045,1.4225,55.0,1.0307,3229,03:16.0,1.269779
1,31,init,m144,2018/4/24,0.9761,54296,1.0607,166534,1.2676,7587,...,1.1399,5442,1.2306,3083,1.3924,25.0,0.7766,31427,03:16.0,1.121871
2,31,y1,m156,2019/4/23,0.9728,54296,1.0461,166534,1.2924,7587,...,1.0777,5442,1.1674,3083,1.4014,25.0,0.7909,31427,03:16.0,1.093877
3,56,init,m144,2018/2/20,0.9899,56750,1.2599,249803,1.3454,9376,...,1.3388,5940,1.3504,3368,1.5561,85.0,1.0458,2352,03:16.0,1.237779
4,56,y1,m156,2019/1/10,0.9635,56750,1.2913,249803,1.3437,9376,...,1.3660,5940,1.3707,3368,1.4821,85.0,1.0729,2352,03:16.0,1.216469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1026,6786,bl,bl,2019/11/7,0.9607,54483,1.2101,261441,1.2564,9060,...,1.1177,5309,1.2173,3194,1.3668,146.0,0.9689,2220,03:18.0,1.202362
1027,6788,bl,bl,2019/8/28,0.9919,61142,1.2171,283334,1.4316,8617,...,1.1963,5631,1.3085,3582,1.5301,129.0,0.9306,3837,03:18.0,1.640171
1028,6797,bl,bl,2019/10/2,1.0333,63692,1.2012,300505,1.2318,11134,...,1.2178,7284,1.2746,3704,1.3538,66.0,0.9778,3039,03:18.0,1.280738
1029,6822,bl,bl,2019/10/23,0.9706,52545,0.9785,271936,1.0603,11154,...,1.0574,5638,1.1013,3243,1.0318,68.0,0.9091,356,03:18.0,1.059985
1030,6830,bl,bl,2019/11/7,0.9526,52793,1.0601,280494,1.1041,9237,...,1.1032,5718,1.0700,3159,1.2319,169.0,0.8078,10214,03:18.0,1.086649

In [39]:
ADNIMERGE_withTau = ADNIMERGE

In [43]:
ADNIMERGE_withTau

,RID,PTID,VISCODE,SITE,COLPROT,ORIGPROT,EXAMDATE,DX_bl,AGE,PTGENDER,...,PTAU_bl,FDG_bl,PIB_bl,AV45_bl,Years_bl,Month_bl,Month,M,update_stamp,AV1451
0,2,011_S_0002,bl,11,ADNI1,ADNI1,2005-09-08,CN,74.3,Male,...,NaN,1.36665,NaN,NaN,0.000000,0.00000,0,0.0,2020-01-09 04:20:17.0,NaN
1,3,011_S_0003,bl,11,ADNI1,ADNI1,2005-09-12,AD,81.3,Male,...,22.83,1.08355,NaN,NaN,0.000000,0.00000,0,0.0,2020-01-09 04:20:17.0,NaN
2,3,011_S_0003,m06,11,ADNI1,ADNI1,2006-03-13,AD,81.3,Male,...,22.83,1.08355,NaN,NaN,0.498289,5.96721,6,6.0,2020-01-09 04:20:17.0,NaN
3,3,011_S_0003,m12,11,ADNI1,ADNI1,2006-09-12,AD,81.3,Male,...,22.83,1.08355,NaN,NaN,0.999316,11.96720,12,12.0,2020-01-09 04:20:17.0,NaN
4,3,011_S_0003,m24,11,ADNI1,ADNI1,2007-09-12,AD,81.3,Male,...,22.83,1.08355,NaN,NaN,1.998630,23.93440,24,24.0,2020-01-09 04:20:17.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14600,4631,137_S_4631,m96,137,ADNI3,ADNI2,2020-01-30,LMCI,69.5,Male,...,30.41,1.40810,NaN,1.43870,7.635870,91.44260,90,96.0,2020-02-07 04:20:29.0,NaN
14601,6652,002_S_6652,m12,2,ADNI3,ADNI3,2020-02-06,EMCI,86.4,Female,...,NaN,1.34365,NaN,1.06476,1.078710,12.91800,12,12.0,2020-02-08 04:20:39.0,NaN
14602,6524,114_S_6524,m12,114,ADNI3,ADNI3,2020-02-07,CN,66.4,Female,...,NaN,NaN,NaN,NaN,1.138950,13.63930,12,12.0,2020-02-08 04:20:38.0,NaN
14603,6653,341_S_6653,m12,341,ADNI3,ADNI3,2020-02-05,SMC,68.1,Male,...,NaN,1.30021,NaN,NaN,1.073240,12.85250,12,12.0,2020-02-08 04:20:39.0,NaN
14604,6847,022_S_6847,bl,22,ADNI3,ADNI3,2020-02-10,NaN,72.9,Male,...,NaN,NaN,NaN,NaN,0.000000,0.00000,0,0.0,2020-02-11 04:20:18.0,NaN

In [53]:
ADNIMERGE_withTau['AV1451'] = np.nan

In [54]:
for Aindex, Arow in ADNIMERGE_withTau.iterrows():
    for Tindex, Trow in tauPET.iterrows():
        if Arow['RID'] == Trow['RID'] and Arow['VISCODE'] == Trow['VISCODE2']:
            print(Arow["RID"],)
            c['AV1451'][Aindex] = tauPET['Composite-ROI'][Tindex]

5277

/home/ubuntu/anaconda3/envs/neuro/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

5273
5273
5269
5269
5242
5202
5200
6073
4926
4919
6175
4889
4868
4862
4862
4858
4842
4835
4815
4809
4799
4767
4765
4742
4649
4637
4631
4620
4604
4587
4548
4521
4513
4510
4489
4482
4464
4446
4414
4399
4380
4367
4313
4309
4309
4302
4301
4292
4262
4234
4229
4214
4198
4197
4197
4162
4114
5093
4071
4003
2394
2367
2336
2304
2263
2247
2245
2200
2183
2002
1427
1414
925
800
800
668
668
467
377
303
142
112
96
6043
6016
6047
6037
6001
6002
6005
6007
6008
6009
6013
6015
6019
6030
6031
6033
6034
6044
6052
5290
5289
5277
5265
5258
5234
5230
5203
5200
5194
5193
5185
5178
5176
5175
5169
5132
5118
5109
5100
5083
5078
4974
4951
4919
4876
4874
4868
4835
4827
4817
4799
4782
4767
4765
4744
4715
4674
4659
4637
4604
4548
4547
4510
4489
4488
4485
4446
4431
4427
4424
4422
4417
4415
4404
4400
4399
4387
4367
4365
4343
4335
4332
4313
4294
4292
4288
4271
4254
4229
4214
4213
4200
4198
4197
4187
4169
4160
4148
4114
4105
4100
4067
4060
2403
2392
2379
2373
2304
2263
2245
2239
2155
2068
1427
1418
1378
1280
1261
1155
1122
1078
6136
6076
6082
6075
6080
6144
6058
6024
5198
4003
6025
6104
6103
6088
6084
6083
5140
4785
6069
6142
4464
4351
6061
6072
4212
6068
6100
6027
4900
4428
6053
4556
6039
6118
4430
6056
6054
4649
6065
6038
4893
4538
6073
6041
6045
6051
6134
5259
2333
1016
21
56
96
112
120
59
156
210
337
377
413
416
467
4587
626
677
679
684
731
734
751
767
969
6117
4278
6059
6110
6116
4396
4620
6062
6085
4301
6097
127
498
722
1052
1169
1190
1190
2119
2133
2180
2180
2187
2219
2234
2234
2301
2301
2332
2374
4036
4036
4037
4076
4084
4094
4119
4143
4164
4210
4210
4277
4281
4281
4293
4299
4352
4356
4356
4356
4369
4401
4410
4410
4427
4429
4429
4448
4448
4469
4520
4536
4576
4586
4598
4598
4630
4643
4643
4644
4654
4654
4706
4706
4722
4722
4723
4723
4813
4869
4869
4952
5004
5079
5093
5113
5113
5177
5222
5253
5266
5266
5288
6064
4115
4176
2238
6146
4272
6133
4453
69
4580
4177
4179
6184
6115
6125
5124
6183
6120
4855
4043
6164
6189
2121
6057
4513
6186
6236
6234
6228
6224
6212
6209
6207
6202
6200
6199
6185
6179
6178
6163
6158
6157
6151
6148
6145
6105
6067
6063
6046
6014
5278
4631
4491
4422
6566
4290
2239
1280
896
6243
4224
6229
6257
6049
6231
6274
6180
6147
4199
6113
6173
6188
6255
2332
6258
6168
6253
6240
6252
4483
4856
6111
6288
6237
6141
6213
6227
5097
6159
2395
6273
4175
4585
6233
31
6211
6259
6289
6303
4384
6007
6161
6269
6250
6304
6282
6204
6277
6297
6313
6143
6175
5154
6308
6284
6333
6275
6319
4654
6256
6315
6285
6291
6318
6320
6266
5289
6226
6292
6327
6298
6321
6345
4842
6334
6367
6232
6306
6310
6281
6351
4507
6279
6316
6317
6343
6336
6341
6349
4489
5282
6326
6362
6384
6203
6314
4799
6378
6241
6328
6385
6335
6359
6360
6386
6251
6283
6352
6350
6358
4767
6323
6371
2234
6330
6356
6346
4674
6411
6374
6399
6400
2380
6187
6394
6422
6170
4090
6278
6375
6414
2220
6216
6260
6389
6369
6381
6354
4607
4723
2002
6439
6446
6456
6471
4835
6459
6402
6419
6426
6428
6480
5214
6396
6421
6455
6488
680
751
6197
6222
5100
6401
6449
6450
6472
6483
6294
6408
6138
6370
6465
4277
4891
6271
6427
6432
6467
4293
6417
6470
6454
6499
2123
6413
6497
6287
6452
6457
6463
4376
6441
6268
6293
6485
4896
6348
6357
6436
6307
6468
6513
4744
5177
6056
6423
6474
4742
6494
5194
6377
4782
6509
6514
5243
6416
6442
6550
6415
6476
6500
2130
6551
2304
6542
6543
4902
6510
6546
112
6443
6516
4400
6533
6433
6492
6515
6559
618
5230
6570
4862
5292
6535
6547
4114
6437
6517
6581
6573
6424
6544
6545
6502
4021
6541
6575
6580
6264
6498
6572
4229
6505
6534
6512
731
4485
5266
6493
6578
6519
6563
4332
6522
4488
5265
734
2155
6429
6529
4874
6504
4506
6473
6582
6549
6577
420
4149
4387
4637
4949
5290
6039
6206
6479
6564
6586
6598
4721
6602
5259
6038
6604
4275
6528
6600
4813
6487
6591
5198
6076
6104
4576
6521
6110
6605
6592
4094
6624
6622
6615
2018
6120
6610
2392
6611
6621
6412
6629
6593
6601
4620
6595
6618
5203
6116
6462
6524
6589
4578
6364
6640
6652
4538
6061
6606
56
6088
4179
6100
6221
6641
6643
4100
6648
4176
6632
6635
69
2233
6013
6185
6069
6373
6376
6644
4345
4441
6612
6661
6668
4855
6133
4278
6655
1190
4197
6178
6683
6634
6651
6300
6627
6658
96
6688
4422
6687
4290
6141
2263
6681
6682
6405
6616
6597
4384
6703
6273
2332
6697
6704
1378
5185
31
6303
6702
4643
6255
6705
6713
6258
6209
6234
6252
6277
6672
6689
6721
2263
6722
6179
6654
5097
6284
4507
4817
6333
6007
6367
6298
6714
2121
2239
6008
6719
5200
4301
6696
419
4489
5289
6345
4767
377
416
618
677
680
751
1427
2002
2155
2234
2304
2379
4114
4119
4224
4277
4324
4356
4376
4387
4400
4428
4488
4674
4723
4742
4782
4862
4874
4891
4951
4952
5004
5100
5177
5185
5194
5200
5243
5265
5282
5290
5292
6013
6016
6034
6061
6073
6142
6187
6204
6220
6222
6241
6251
6254
6260
6264
6268
6291
6307
6316
6330
6352
6356
6360
6377
6385
6389
6396
6399
6401
6428
6432
6433
6436
6441
6452
6465
6474
6480
6483
6488
6493
6497
6498
6509
6510
6522
6525
6534
6535
6543
6549
6551
6572
6575
6580
6700
6701
6707
6708
6709
6716
6717
6724
6726
6727
6730
6731
6733
6735
6739
6742
6744
6748
6750
6751
6754
6755
6757
6760
6761
6763
6765
6768
6770
6771
6775
6777
6784
6785
6786
6788
6797
6822
5259
4021
6586
4637
4149
6076
6830
6512
731

In [55]:
ADNIMERGE_withTau.to_csv(os.path.join(csvPath,'ADNIMERGE_withTau.csv'),index=False)

In [56]:
ADNIMERGE_withTau[ADNIMERGE_withTau['AV1451']>0]

,RID,PTID,VISCODE,SITE,COLPROT,ORIGPROT,EXAMDATE,DX_bl,AGE,PTGENDER,...,PTAU_bl,FDG_bl,PIB_bl,AV45_bl,Years_bl,Month_bl,Month,M,update_stamp,AV1451
138,5277,027_S_5277,m24,27,ADNI2,ADNI2,2015-08-31,SMC,71.8,Female,...,34.39,1.41682,NaN,1.73413,2.00684,24.0328,24,24.0,2020-01-09 04:20:39.0,1.306334
218,5273,135_S_5273,m36,135,ADNI2,ADNI2,2016-08-25,SMC,90.1,Male,...,NaN,1.14716,NaN,1.19456,3.01437,36.0984,36,36.0,2020-01-09 04:20:39.0,1.109852
240,5273,135_S_5273,m24,135,ADNI2,ADNI2,2015-08-26,SMC,90.1,Male,...,NaN,1.14716,NaN,1.19456,2.01506,24.1311,24,24.0,2020-01-09 04:20:39.0,1.102371
400,5269,135_S_5269,m36,135,ADNI2,ADNI2,2016-08-16,SMC,64.9,Male,...,10.55,1.23539,NaN,1.04955,2.98973,35.8033,36,36.0,2020-01-09 04:20:39.0,1.134470
401,5269,135_S_5269,m24,135,ADNI2,ADNI2,2015-09-01,SMC,64.9,Male,...,10.55,1.23539,NaN,1.04955,2.03149,24.3279,24,24.0,2020-01-09 04:20:39.0,1.119289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14435,4149,031_S_4149,m96,31,ADNI3,ADNI2,2019-10-28,EMCI,73.3,Male,...,18.54,1.31762,NaN,1.18071,8.19165,98.0984,96,96.0,2020-01-09 04:20:32.0,1.294959
14436,6076,014_S_6076,m24,14,ADNI3,ADNI3,2019-10-30,SMC,58.7,Female,...,NaN,NaN,NaN,NaN,2.01506,24.1311,24,24.0,2020-01-09 04:20:40.0,1.114025
14454,6830,129_S_6830,bl,129,ADNI3,ADNI3,2019-11-07,LMCI,90.0,Male,...,NaN,NaN,NaN,NaN,0.00000,0.0000,0,0.0,2020-01-09 04:20:41.0,1.086649
14458,6512,127_S_6512,m12,127,ADNI3,ADNI3,2019-09-26,LMCI,78.2,Male,...,NaN,1.30603,NaN,NaN,1.03491,12.3934,12,12.0,2020-01-09 04:20:41.0,1.084589
14460,731,006_S_0731,m156,6,ADNI3,ADNI1,2019-10-03,CN,71.5,Male,...,27.56,1.44731,NaN,NaN,13.07600,156.5900,156,156.0,2020-01-09 04:20:24.0,1.243677

## This is the start of draft

In [93]:
math.isnan((ADNIMERGE['ABETA_bl'][100]))

True

In [39]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[7, 8]], columns = ['a','b'])

df = df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  7  8